<div class="date-outer">
<h2 class='date-header'><span>Sunday, September 5, 2010</span></h2>
<div class="date-posts">
    <div class='post-outer'>
        <div class='post hentry'>
            <div class='post-cover'>
                <a name='8667444465890341015'></a>
                <div class='bposttitle'>
                    <h2 class='post-title entry-title'>
                        <a href='/<? .Post.Link ?>'><? .Post.Title ?></a>
                    </h2>
                    <div class='postmeta'><span>Posted by <? .Post.Author ?></span> | <span><? .Post.Date ?></span> | <span><a href='<? .Post.Tag[0] ?>' rel='tag'><? .Post.Tag[0] ?></a>, <a href='<? .Post.Tag[1] ?>' rel='tag'><? .Post.Tag[1] ?></a>, <a href='<? .Post.Tag[2] ?>' rel='tag'><? .Post.Tag[2] ?></a></span></div>
                </div>
                <div class='post-header-line-1'></div>
                <div class='post-body entry-content entry'>
                    <p>
                        <div id='summary<? .Post.Id ?>'>
                            <div class="separator" style="clear: both; text-align: center;">
                                <a href="http://1.bp.blogspot.com/-YdM-7roQnpw/UElc0VCOO8I/AAAAAAAAIZ4/WLFrho7gk3M/s1600/11.jpg" imageanchor="1" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img src="http://1.bp.blogspot.com/-YdM-7roQnpw/UElc0VCOO8I/AAAAAAAAIZ4/WLFrho7gk3M/s1600/11.jpg" border="0" /></a>
                            </div>
                            <? .Post.Summary ?>
                        </div>
                    </p>
                    <div style='clear: both;'></div>
                </div>
                <div class='masonmeta'>
                    <span class='comments-link'><a href='/' onclick=''>1 comment</a></span>
                    <span class='smore'><a href='/'>Read More</a></span>
                </div>
                <div class='post-footer'>
                    <div class='post-footer-line post-footer-line-1'></div>
                    <div class='post-footer-line post-footer-line-2'></div>
                    <div class='post-footer-line post-footer-line-3'></div></div>
                </div>
            </div>
            <div style='clear: both;'></div>
        </div>

    </div>
</div>